<div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">Cin</label>
    <div class="col-10">
      <input class="form-control" type="password" value="hunter2" id="example-password-input">
    </div>
  </div>
<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter your name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" placeholder="bootstrap@example.com" id="example-email-input">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  </div>